<link rel="stylesheet" href="/css/add_student.css">
<div id="add_student">
 <form action="/interviews/addInterview" method="post">
    <div>
      <span>COMPANY NAME  <div id="stu_dot">:</div>  </span>
      <input type="text" name="name" placeholder="Enter company name" required>
    </div>
    
    <div>
      <span>DATE  <div id="mob_dot">:</div></span>
      <input required type="date" name="date" placeholder="date">
    </div>
   
    <button type="submit">Add</button>
 </form>
</div>