<link rel="stylesheet" href="/css/form.css">
<div class="form_div">
<h1>Adding Employe</h1>
<h3 style="color:blue">Admin ID: 123456 & password: 123@123</h3>
<h3 style="color:blue">Set employe id randomly & The employe id used to sign up and signin</h3>
<form class="form" action="/addEmploye" method="POST">
    <input type="number" name="adminid" placeholder="Enter Admin id" required>
    <input type="number" name="empid" placeholder="Enter Emp Id" required>
    <input type="text" name="name" placeholder="Enter Emp name" required >
    <input type="number" name="contact" placeholder="Enter Emp phone number" required >
    <input type="email" name="email" placeholder="Enter Emp Email" required>
    <input type="password" name="password" placeholder="Admin Password" required>
    <input type="submit" value="Add Employe">

</form>

</div>