<div>
    <div class="container">
        <h3>INTERVIEWS TABLE</h3>
        <table style="width: 100%;">
          <thead>
            <tr>
              <th>STUDENT NAME</th>
              <th>EMAIL</th>
              <th>PHONE</th>
              <th>RESULT</th>
              
            <tr>  
          </thead>
          <tbody>
            
            
           
          </tbody>
         
        </table>
      </div>
</div>