<link rel="stylesheet" href="/css/form.css">
<div class="form_div">
<h1>Sign In</h1>

<form class="form" action="/users/create-session" method="POST">
    <input type="number" name="empid" placeholder="Emp Id"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In"  >

</form>


</div>